.Pokedex{
    background: rgb(195,214,211);
    background: linear-gradient(0deg, rgba(195,214,211,1) 0%, rgba(204,100,255,0.9668242296918768) 100%);
    padding: 50px;
}

.Pokedex .Filters{
    text-align: center;
}