.Button {
    background-color: transparent;
    border: 1px solid;
    border-radius: 46px;
    width: 144px;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
    text-transform: capitalize;
}

.Button:hover{
    color: #505152;
}

.normal {
    background-color: #eee;
}

.fighting {
    background-color: #D67873;
}

.flying {
    background-color: #C6B7F5;
}

.poison {
    background-color: #C183C1;
}
.ground {
    background-color: #EBD69D;
}
.rock {
    background-color: #D1C17D;
}
.bug {
    background-color: #C6D16E;
}
.ghost {
    background-color: #A292BC;
}
.steel {
    background-color: #D1D1E0;
}
.fire {
    background-color: #F5AC78;
}
.water {
    background-color: #9DB7F5;
}
.grass {
    background-color: #A7DB8D;
}
.electric {
    background-color: #FAE078;
}
.psychic {
    background-color: #FA92B2;
}
.ice {
    background-color: #BCE6E6;
}
.dragon {
    background-color: #A27DFA;
}
.dark {
    background-color: #A29288;
}
.fairy {
    background-color: #F4BDC9;
}

.unknown{
    display: none;
}

.shadow{
    display: none;
}



.Success {
    color: #5C9210;
}

.Danger {
    color: #944317;
}

.Button:disabled{
    color: #ccc;
    cursor: not-allowed;
}

@media (max-width: 767px) {
    .Button{
        height: 46px;
        border-radius: 46px;
        padding: 0 20px
    }
}